Pandas
-------

In [36]:
import pandas as pd
import numpy as np

In [37]:
pd.Series([1,2,3,'String',0,np.nan,-1])

0         1
1         2
2         3
3    String
4         0
5       NaN
6        -1
dtype: object

In [38]:
dates = pd.date_range("20210101", periods=6)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [39]:
np.random.rand(6,4)

array([[0.70536333, 0.45220934, 0.52010403, 0.0024685 ],
       [0.61638993, 0.29708274, 0.63603465, 0.76790109],
       [0.39897017, 0.81792103, 0.3769594 , 0.58933726],
       [0.28597243, 0.85673114, 0.66180199, 0.10815805],
       [0.26768754, 0.25353828, 0.12461251, 0.23776773],
       [0.21006573, 0.82223215, 0.3458527 , 0.86850726]])

columns= Table Columns

index= Table Rows

In [40]:
df = pd.DataFrame(np.random.randn(6,4), index = dates , columns=['A','B','C','D'])
df

                   A         B         C         D
2021-01-01 -1.916633  1.538193 -0.438376  2.106979
2021-01-02  1.582721 -0.288728 -0.816861 -0.627656
2021-01-03 -1.803668  1.792264  0.274158 -0.835167
2021-01-04 -0.354227  0.526505  0.174492 -1.272489
2021-01-05  1.060673 -0.093364 -0.086982  0.770264
2021-01-06 -0.000343  1.040445  2.671153 -0.365843

In [41]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [42]:
df ["A"]

2021-01-01   -1.916633
2021-01-02    1.582721
2021-01-03   -1.803668
2021-01-04   -0.354227
2021-01-05    1.060673
2021-01-06   -0.000343
Freq: D, Name: A, dtype: float64

In [44]:
df.head(2)

                   A         B         C         D
2021-01-01 -1.916633  1.538193 -0.438376  2.106979
2021-01-02  1.582721 -0.288728 -0.816861 -0.627656

In [45]:
df.tail(2)

                   A         B         C         D
2021-01-05  1.060673 -0.093364 -0.086982  0.770264
2021-01-06 -0.000343  1.040445  2.671153 -0.365843

Count = Number

Mean = Average

In [47]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.238579  0.752552  0.296264 -0.037319
std    1.438102  0.852297  1.231343  1.254499
min   -1.916633 -0.288728 -0.816861 -1.272489
25%   -1.441307  0.061603 -0.350527 -0.783289
50%   -0.177285  0.783475  0.043755 -0.496750
75%    0.795419  1.413756  0.249242  0.486237
max    1.582721  1.792264  2.671153  2.106979

In [48]:
df.mean()

A   -0.238579
B    0.752552
C    0.296264
D   -0.037319
dtype: float64

In [49]:
df["A"].mean()

np.float64(-0.23857946998759494)

In [50]:
df[0:2]

                   A         B         C         D
2021-01-01 -1.916633  1.538193 -0.438376  2.106979
2021-01-02  1.582721 -0.288728 -0.816861 -0.627656

In [52]:
df.T

   2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
A   -1.916633    1.582721   -1.803668   -0.354227    1.060673   -0.000343
B    1.538193   -0.288728    1.792264    0.526505   -0.093364    1.040445
C   -0.438376   -0.816861    0.274158    0.174492   -0.086982    2.671153
D    2.106979   -0.627656   -0.835167   -1.272489    0.770264   -0.365843

In [55]:
df.sort_values(by="B")

                   A         B         C         D
2021-01-02  1.582721 -0.288728 -0.816861 -0.627656
2021-01-05  1.060673 -0.093364 -0.086982  0.770264
2021-01-04 -0.354227  0.526505  0.174492 -1.272489
2021-01-06 -0.000343  1.040445  2.671153 -0.365843
2021-01-01 -1.916633  1.538193 -0.438376  2.106979
2021-01-03 -1.803668  1.792264  0.274158 -0.835167

In [56]:
df[df["A"]>0]

                   A         B         C         D
2021-01-02  1.582721 -0.288728 -0.816861 -0.627656
2021-01-05  1.060673 -0.093364 -0.086982  0.770264

Read And Write Operations
---

If you want to create it inside a folder in Pandas, you should write it like this:

/temp/myfile.csv

In [72]:
df = pd.read_csv("Mycsv")

In [59]:
df.to_csv("Mycsv")

In [61]:
df.to_excel("mycsv.xlsx")

For more complete information, we can visit this website and study:
---
https://pandas.pydata.org/docs/user_guide/10min.html