In [7]:
import pandas as pd

In [14]:
df = pd.read_csv('Data/employees.csv',index_col='First Name',parse_dates=['Start Date'])
df.head()

C:\Users\OMID\AppData\Local\Temp\ipykernel_4900\2907678820.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('Data/employees.csv',index_col='First Name',parse_dates=['Start Date'])

            Gender Start Date    Salary   Mgmt       Team
First Name
Douglas       Male 1993-08-06       NaN   True  Marketing
Thomas        Male 1996-03-31   61933.0   True        NaN
Maria       Female        NaT  130590.0  False    Finance
Jerry          NaN 2005-03-04  138705.0   True    Finance
Larry         Male 1998-01-24  101004.0   True         IT

In [18]:
df.Gender.value_counts()

Gender
Female    431
Male      423
Name: count, dtype: int64