In [ ]:
import pandas as pd # type: ignore

In [9]:
df = pd.read_csv('Data/Movies.csv',index_col='name')
df.head()

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [10]:
rating = df['rating']

In [11]:
type(rating)

pandas.core.series.Series

In [12]:
rating.head()

name
The Shining                                        R
The Blue Lagoon                                    R
Star Wars: Episode V - The Empire Strikes Back    PG
Airplane!                                         PG
Caddyshack                                         R
Name: rating, dtype: object

In [13]:
rating.value_counts()

rating
R            3695
PG-13        2112
PG           1252
Not Rated     283
G             153
Unrated        52
NC-17          23
TV-MA           9
TV-PG           5
X               3
Approved        1
TV-14           1
Name: count, dtype: int64

In [14]:
rating.value_counts().sort_index()

rating
Approved        1
G             153
NC-17          23
Not Rated     283
PG           1252
PG-13        2112
R            3695
TV-14           1
TV-MA           9
TV-PG           5
Unrated        52
X               3
Name: count, dtype: int64

In [15]:
rating.value_counts(ascending=True)

rating
Approved        1
TV-14           1
X               3
TV-PG           5
TV-MA           9
NC-17          23
Unrated        52
G             153
Not Rated     283
PG           1252
PG-13        2112
R            3695
Name: count, dtype: int64

In [16]:
rating.value_counts(normalize=True)

rating
R            0.486889
PG-13        0.278298
PG           0.164976
Not Rated    0.037291
G            0.020161
Unrated      0.006852
NC-17        0.003031
TV-MA        0.001186
TV-PG        0.000659
X            0.000395
Approved     0.000132
TV-14        0.000132
Name: proportion, dtype: float64

In [17]:
rating.value_counts(normalize=True)*100

rating
R            48.688892
PG-13        27.829754
PG           16.497562
Not Rated     3.729082
G             2.016076
Unrated       0.685202
NC-17         0.303070
TV-MA         0.118593
TV-PG         0.065885
X             0.039531
Approved      0.013177
TV-14         0.013177
Name: proportion, dtype: float64

In [18]:
rating.value_counts(normalize=True).mul(100).round(1)

rating
R            48.7
PG-13        27.8
PG           16.5
Not Rated     3.7
G             2.0
Unrated       0.7
NC-17         0.3
TV-MA         0.1
TV-PG         0.1
X             0.0
Approved      0.0
TV-14         0.0
Name: proportion, dtype: float64

In [19]:
score = df.score

In [20]:
score.value_counts()

score
6.6    359
6.4    351
6.2    346
6.7    332
6.5    331
      ...
2.1      2
9.3      1
2.6      1
2.3      1
9.0      1
Name: count, Length: 72, dtype: int64

In [23]:
score.value_counts(bins=5).sort_index()

(1.8920000000000001, 3.38]      49
(3.38, 4.86]                   438
(4.86, 6.34]                  2964
(6.34, 7.82]                  3858
(7.82, 9.3]                    354
Name: count, dtype: int64

In [24]:
score.value_counts(bins=[1,3,5,7,9,10]).sort_index()

(0.999, 3.0]      34
(3.0, 5.0]       601
(5.0, 7.0]      5052
(7.0, 9.0]      1975
(9.0, 10.0]        1
Name: count, dtype: int64

In [25]:
score.value_counts(bins=5 , sort=False)

(1.8920000000000001, 3.38]      49
(3.38, 4.86]                   438
(4.86, 6.34]                  2964
(6.34, 7.82]                  3858
(7.82, 9.3]                    354
Name: count, dtype: int64

In [26]:
score.count()

np.int64(7663)

In [27]:
len(score)

7666

In [29]:
score.value_counts(dropna=False).tail(10)

score
1.9    3
8.9    3
NaN    3
2.4    2
2.8    2
2.1    2
9.3    1
2.6    1
2.3    1
9.0    1
Name: count, dtype: int64

In [30]:
score.value_counts().tail(10)

score
2.5    4
8.9    3
1.9    3
2.4    2
2.8    2
2.1    2
9.3    1
2.6    1
2.3    1
9.0    1
Name: count, dtype: int64