In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([1,3,4,5,6,7,8,9,10,11])

In [4]:
s1+5

0     6
1     8
2     9
3    10
4    11
5    12
6    13
7    14
8    15
9    16
dtype: int64

In [5]:
s1*2-4

0    -2
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [7]:
s2 = pd.Series([5,6,3,5,8,9,44,23])

In [8]:
s1+s2

0     6.0
1     9.0
2     7.0
3    10.0
4    14.0
5    16.0
6    52.0
7    32.0
8     NaN
9     NaN
dtype: float64

In [9]:
s1.count()

np.int64(10)

In [10]:
s2.count()

np.int64(8)

In [11]:
s1-s2

0    -4.0
1    -3.0
2     1.0
3     0.0
4    -2.0
5    -2.0
6   -36.0
7   -14.0
8     NaN
9     NaN
dtype: float64

In [12]:
5/2

2.5

In [13]:
5//2

2

In [14]:
6//4

1

In [15]:
s1.add(5)

0     6
1     8
2     9
3    10
4    11
5    12
6    13
7    14
8    15
9    16
dtype: int64

In [16]:
s1/3

0    0.333333
1    1.000000
2    1.333333
3    1.666667
4    2.000000
5    2.333333
6    2.666667
7    3.000000
8    3.333333
9    3.666667
dtype: float64

In [19]:
(s1/3).round()

0    0.0
1    1.0
2    1.0
3    2.0
4    2.0
5    2.0
6    3.0
7    3.0
8    3.0
9    4.0
dtype: float64

In [20]:
s1/s2

0    0.200000
1    0.500000
2    1.333333
3    1.000000
4    0.750000
5    0.777778
6    0.181818
7    0.391304
8         NaN
9         NaN
dtype: float64