In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/btc-usd.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-04-30,53568.664063,57900.718750,53129.601563,57750.175781,57750.175781,52395931985
1,2021-05-01,57714.664063,58448.339844,57052.273438,57828.050781,57828.050781,42836427360
2,2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,56631.078125,38177405335
3,2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,57200.292969,51713139031
4,2021-05-04,57214.179688,57214.179688,53191.425781,53333.539063,53333.539063,68564706967

In [6]:
df = pd.read_csv('Data/btc-usd.csv',index_col='Date',parse_dates=['Date'])
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-30,53568.664063,57900.718750,53129.601563,57750.175781,57750.175781,52395931985
2021-05-01,57714.664063,58448.339844,57052.273438,57828.050781,57828.050781,42836427360
2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,56631.078125,38177405335
2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,57200.292969,51713139031
2021-05-04,57214.179688,57214.179688,53191.425781,53333.539063,53333.539063,68564706967

In [7]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07',
               '2021-05-08', '2021-05-09',
               ...
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', name='Date', length=366, freq=None)

In [8]:
df ['Close']

Date
2021-04-30    57750.175781
2021-05-01    57828.050781
2021-05-02    56631.078125
2021-05-03    57200.292969
2021-05-04    53333.539063
                  ...
2022-04-26    38117.460938
2022-04-27    39241.121094
2022-04-28    39773.828125
2022-04-29    38609.824219
2022-04-30    38281.816406
Name: Close, Length: 366, dtype: float64

In [9]:
type(df['Close'])

pandas.core.series.Series

In [14]:
s1 = pd.read_csv('Data/btc-usd.csv',index_col='Date',parse_dates=['Date'], usecols=['Date','Close']).squeeze()
s1.head()

Date
2021-04-30    57750.175781
2021-05-01    57828.050781
2021-05-02    56631.078125
2021-05-03    57200.292969
2021-05-04    53333.539063
Name: Close, dtype: float64

In [16]:
type (s1)

pandas.core.series.Series