In [1]:
import pandas as pd

In [3]:
pd.Series()

Series([], dtype: object)

In [4]:
pd.Series([1,3,5,7])

0    1
1    3
2    5
3    7
dtype: int64

In [5]:
pd.Series(['tehran','rasht','isfahan','shiraz'])

0     tehran
1      rasht
2    isfahan
3     shiraz
dtype: object

In [6]:
pd.Series(data=[1,3,5,7])

0    1
1    3
2    5
3    7
dtype: int64

In [15]:
s1 = pd.Series(data =['Tehran','ankara','baku','berlin'] , index = ['iran','turkey','azarbaijan','germany'])

In [16]:
s2 = pd.Series(data =['Tehran','ankara','baku','berlin'])

In [17]:
s1['iran']

'Tehran'

In [18]:
s2[0]

'Tehran'

In [22]:
s3 = pd.Series([1,2,3,4], index = ['A','B','A','B'])

In [23]:
s3['A']

A    1
A    3
dtype: int64

In [25]:
s3.dtype

dtype('int64')