In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/movies.csv' , index_col='name')
df.head()

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [5]:
score = df.score

In [7]:
def verbal_score(s):
    if s >= 7.5:
        return 'High'
    elif s>=6.5:
        return 'Medium'
    else:
        return 'Low'

In [8]:
verbal_score(8)

'High'

In [9]:
verbal_score(3)

'Low'

In [10]:
verbal_score(7)

'Medium'

In [12]:
score.apply(verbal_score)

name
The Shining                                         High
The Blue Lagoon                                      Low
Star Wars: Episode V - The Empire Strikes Back      High
Airplane!                                           High
Caddyshack                                        Medium
                                                   ...
More to Life                                         Low
Dream Round                                          Low
Saving Mbango                                        Low
It's Just Us                                         Low
Tee em el                                            Low
Name: score, Length: 7666, dtype: object

In [13]:
score.apply(verbal_score).value_counts()

score
Low       3805
Medium    2881
High       980
Name: count, dtype: int64

In [15]:
score.apply(verbal_score).value_counts(normalize=True).mul(100).round(1)

score
Low       49.6
Medium    37.6
High      12.8
Name: proportion, dtype: float64

In [18]:
score.dropna().apply(round)

name
The Shining                                       8
The Blue Lagoon                                   6
Star Wars: Episode V - The Empire Strikes Back    9
Airplane!                                         8
Caddyshack                                        7
                                                 ..
Aloha Surf Hotel                                  7
More to Life                                      3
Dream Round                                       5
Saving Mbango                                     6
Tee em el                                         6
Name: score, Length: 7663, dtype: int64