In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/nba.csv',index_col='Name')
df.head()

                              Team Position Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG  9/26/96  1445697
Christian Wood     Detroit Pistons       PF  9/27/95  1645357
PJ Washington    Charlotte Hornets       PF  8/23/98  3831840
Derrick Rose       Detroit Pistons       PG  10/4/88  7317074
Marial Shayok   Philadelphia 76ers        G  7/26/95    79568

In [4]:
salary = df['Salary']

In [5]:
type(df),type(salary)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [6]:
len (df),len(salary)

(450, 450)

In [7]:
team = df['Team']
team.size

450

In [8]:
df.size

1800

In [9]:
df.shape

(450, 4)

In [10]:
salary.shape

(450,)