In [12]:
import pandas as pd

In [13]:
s1 = pd.Series([1,3,5,None,9,11,13])

In [14]:
s1.count()

np.int64(6)

In [15]:
s1.sum()

np.float64(42.0)

In [16]:
s1.prod()

np.float64(19305.0)

In [17]:
s1.prod()

np.float64(19305.0)

In [18]:
s1.sum(skipna=True)

np.float64(42.0)

In [19]:
s1.sum(skipna=False)

np.float64(nan)

In [20]:
s1.prod(skipna=False)

np.float64(nan)

In [21]:
s1.cumsum()

0     1.0
1     4.0
2     9.0
3     NaN
4    18.0
5    29.0
6    42.0
dtype: float64

In [22]:
s1

0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64

In [24]:
s1.cumsum(skipna=False)

0    1.0
1    4.0
2    9.0
3    NaN
4    NaN
5    NaN
6    NaN
dtype: float64

In [25]:
s1.pct_change()

C:\Users\OMID\AppData\Local\Temp\ipykernel_13892\3382261067.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  s1.pct_change()

0         NaN
1    2.000000
2    0.666667
3    0.000000
4    0.800000
5    0.222222
6    0.181818
dtype: float64

In [26]:
s1

0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64

In [28]:
s1.pct_change(fill_method='ffill')

C:\Users\OMID\AppData\Local\Temp\ipykernel_13892\2350275203.py:1: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  s1.pct_change(fill_method='ffill')

0         NaN
1    2.000000
2    0.666667
3    0.000000
4    0.800000
5    0.222222
6    0.181818
dtype: float64

In [29]:
s1.pct_change(fill_method='backfill')

C:\Users\OMID\AppData\Local\Temp\ipykernel_13892\615886237.py:1: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  s1.pct_change(fill_method='backfill')

0         NaN
1    2.000000
2    0.666667
3    0.800000
4    0.000000
5    0.222222
6    0.181818
dtype: float64

In [30]:
s1.min()

np.float64(1.0)

In [31]:
s1.max()

np.float64(13.0)

In [32]:
min(s1),max(s1)

(1.0, 13.0)

In [33]:
sum(s1)

nan

In [34]:
s1.mean()

np.float64(7.0)

In [35]:
s1

0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64

In [36]:
s1.median()

np.float64(7.0)

In [37]:
s1.mode

<bound method Series.mode of 0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64>

In [38]:
s1.std()

np.float64(4.732863826479693)

In [39]:
s1.var

<bound method Series.var of 0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64>

In [40]:
s1.var()**0.5

np.float64(4.732863826479693)

In [41]:
s1.describe

<bound method NDFrame.describe of 0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64>

In [47]:
s1.sample()

1    3.0
dtype: float64

In [43]:
for _ in range(10):
    print(s1.sample())

5    11.0
dtype: float64
5    11.0
dtype: float64
3   NaN
dtype: float64
6    13.0
dtype: float64
2    5.0
dtype: float64
1    3.0
dtype: float64
5    11.0
dtype: float64
0    1.0
dtype: float64
3   NaN
dtype: float64
6    13.0
dtype: float64

In [48]:
s1.sample(5)

1     3.0
0     1.0
3     NaN
2     5.0
5    11.0
dtype: float64

In [54]:
s1.sample(n = 15,replace=True)

3     NaN
1     3.0
1     3.0
5    11.0
3     NaN
3     NaN
6    13.0
0     1.0
0     1.0
6    13.0
4     9.0
2     5.0
5    11.0
6    13.0
6    13.0
dtype: float64

In [55]:
s1.unique()

array([ 1.,  3.,  5., nan,  9., 11., 13.])

In [56]:
s2 = pd.Series([1,3,7,2,1,3,4,8,4,1,3,4,8])

In [57]:
s2.unique

<bound method Series.unique of 0     1
1     3
2     7
3     2
4     1
5     3
6     4
7     8
8     4
9     1
10    3
11    4
12    8
dtype: int64>

In [58]:
s2.nunique

<bound method IndexOpsMixin.nunique of 0     1
1     3
2     7
3     2
4     1
5     3
6     4
7     8
8     4
9     1
10    3
11    4
12    8
dtype: int64>

In [59]:
s2.count()

np.int64(13)

In [60]:
s2.mode

<bound method Series.mode of 0     1
1     3
2     7
3     2
4     1
5     3
6     4
7     8
8     4
9     1
10    3
11    4
12    8
dtype: int64>