In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Used_cars.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435578 entries, 0 to 435577
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Manufacturer  435578 non-null  object
 1   Year          435578 non-null  int64
 2   Fuel          432985 non-null  object
 3   Transmission  432402 non-null  object
 4   Price         435578 non-null  int64
dtypes: int64(2), object(3)
memory usage: 16.6+ MB

In [3]:
df['Fuel'].value_counts()

Fuel
Gas         382716
Diesel       33347
Other        12331
Hybrid        3812
Electric       779
Name: count, dtype: int64

In [4]:
df['Fuel'].astype('category')

0           Gas
1           Gas
2           Gas
3           Gas
4           Gas
          ...
435573      Gas
435574      Gas
435575      Gas
435576    Other
435577      Gas
Name: Fuel, Length: 435578, dtype: category
Categories (5, object): ['Diesel', 'Electric', 'Gas', 'Hybrid', 'Other']

In [6]:
df['Fuel']=df['Fuel'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435578 entries, 0 to 435577
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Manufacturer  435578 non-null  object
 1   Year          435578 non-null  int64
 2   Fuel          432985 non-null  category
 3   Transmission  432402 non-null  object
 4   Price         435578 non-null  int64
dtypes: category(1), int64(2), object(2)
memory usage: 13.7+ MB

In [7]:
df ['Transmission'].value_counts()

Transmission
Automatic    390824
Other         20967
Manual        20611
Name: count, dtype: int64

In [8]:
df['Transmission']=df['Transmission'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435578 entries, 0 to 435577
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Manufacturer  435578 non-null  object
 1   Year          435578 non-null  int64
 2   Fuel          432985 non-null  category
 3   Transmission  432402 non-null  category
 4   Price         435578 non-null  int64
dtypes: category(2), int64(2), object(1)
memory usage: 10.8+ MB